/* PFBagueRoundPro-regular*/
@font-face {
  font-family: 'PFBagueRoundPro';
  font-style: normal;
  font-weight: 400;
  src: local('PFBagueRoundPro-Regular'), local('PFBagueRoundPro-Regular'),
       url('../../fontss/PFBagueRoundPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fontss/PFBagueRoundPro-regular.woff') format('woff'), /* Modern Browsers */
}
/* PFBagueRoundPro-500*/
@font-face {
  font-family: 'PFBagueRoundPro';
  font-style: normal;
  font-weight: 500;
  src: local('PFBagueRoundPro Medium'), local('PFBagueRoundPro-Medium'),
       url('../../fontss/PFBagueRoundPro-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fontss/PFBagueRoundPro-Medium.woff') format('woff'), /* Modern Browsers */
}
/* PFBagueRoundPro-600 - cyrillic */
@font-face {
  font-family: 'PFBagueRoundPro';
  font-style: normal;
  font-weight: 600;
  src: local('PFBagueRoundPro Black'), local('PFBagueRoundPro-Black'),
       url('../../fontss/PFBagueRoundPro-Black.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fontss/PFBagueRoundPro-Black.woff') format('woff'), /* Modern Browsers */
}
/* PFBagueRoundPro-800 - cyrillic */
@font-face {
  font-family: 'PFBagueRoundPro';
  font-style: normal;
  font-weight: 800;
  src: local('PFBagueRoundPro UBlack'), local('PFBagueRoundPro-UBlack'),
       url('../../fontss/PFBagueRoundPro-UBlack.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fontss/PFBagueRoundPro-UBlack.woff') format('woff'), /* Modern Browsers */
}