.container-header{
    width: 1280px;
    height:891px;
    background-image: url('../images/vegTable.jpg');
    padding: 15px 15px;
}
.main-menu-box{ 
    display: inline-block;
    border-radius: 32px;
    background-color: #fff;
    width: 62px;
    height: 40px;
    margin-left: 15px;
    overflow: hidden;
    white-space: nowrap;
    z-index: 0;
}
.main-menu-svg{
    display: inline-block;
    position: relative;
    top:4px;
    left:15px;
    width: 32px;
    height: 32px;
    fill: #f5ca3c;
    stroke:#f5ca3c;
}
.main-menu-span{
    display: inline-block;
    position: relative;
    top: -5px;
    margin-left: 35px;
    margin-bottom: 0px;
    color: #ffffff;
}
.container-main-menu-box{
    position: relative;
    border-radius: 15px;
    background-color: #fff;
    width: 62px;
    height: 450px;
    top: 10px;
    margin-left: 15px;
    overflow: hidden;
    z-index: 1;
}

.container-main-menu-svg{
    display: inline-block;
    width: 32px;
    height: 32px;
}
.box-svg{
    margin-left:0px;
    position: relative;
    top: 8px;
    left: 15px;
    width: 35px;
    height: 40px;
}
.main-nav{
    width: 62px;
}
.main-menu-box-cont{
    overflow: hidden;
    white-space: nowrap;
}
.main-nav:hover .main-menu-svg{
    stroke: #ffffff;
    transform: rotate(90deg);
    transition: .5s;
    width: 32px;
    height: 32px;
}
.main-nav:hover .main-menu-box{
    display: inline-block;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    width: 280px;
    background-color:#96c93d;
    transition: .5s;
}
.main-nav:hover .container-main-menu-box .main-menu-box-cont,
.main-nav:hover .container-main-menu-box,
.main-nav:hover .container-main-menu-box .main-menu-span{
    width: 280px;
    color:#181414;
    transition: .5s;
}