.container-header{
    width: 1280px;
    height:891px;
    background-image: url('../images/vegTable.jpg');
    padding: 15px 15px;
    position: fixed;    
}
.main-menu-box{ 
    display: inline-block;
    border-radius: 32px;
    background-color: #fff;
    width: 62px;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
}
.main-menu-svg{
    display: inline-block;
    position: relative;
    top:4px;
    left:15px;
    width: 32px;
    height: 32px;
    fill: #f5ca3c;
    stroke:#f5ca3c;
}
.main-menu-span{
    display: inline-block;
    margin-left: 35px;
    vertical-align: super;
    width: 190px;
}
.secondary-main-box{
    height: 397px;
    border-radius: 17px;
    background-color: #ffffff;
    color: black;
}
.container-main-menu-box{
    position: relative;
    border-radius: 15px;
    background-color: #fff;
    width: 62px;
    height: 450px;
    top: 10px;
    margin-left: 15px;
    overflow: hidden;
    z-index: 1;
}

.container-main-menu-svg{
    display: inline-block;
    position: relative;
    top: 2px;
    left: 15px;
    width: 32px;
    height: 32px;
}
.container-main-menu-svg-secondary{
    position: relative;
    right: 10px;
    width: 16px;
    height: 16px;
    vertical-align: super;
}
.box-svg{
    margin-left:0px;
    position: relative;
    top: 8px;
    left: 15px;
    width: 35px;
    height: 40px;
}
.main-nav{
    width: 62px;
    height: 450px;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1;
    position: absolute;
}
.main-menu-box-cont{
    overflow: hidden;
    white-space: nowrap;
}
.main-nav:hover .main-menu-svg{
    stroke: #ffffff;
    transform: rotate(90deg);
    transition: .5s;
    width: 32px;
    height: 32px;
}
.main-nav:hover .main-menu-box{
    display: inline-block;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    width: 280px;
    background-color:#96c93d;
    transition: .5s;
}
.main-menu-span-color{
    color: #ffffff;
}
.main-nav:hover .container-main-menu-box .main-menu-box-cont,
.main-nav:hover .container-main-menu-box,
.main-nav:hover .container-main-menu-box .main-menu-span,
.main-nav:hover{
    width: 280px;
    color:#181414;
    transition: .5s;
}
.goods:hover{
    background-color: #f1f1f1;
}
.goods:first-child:hover{
    border-radius: 17px 17px 0px 0px;
}
.goods:last-child:hover{
    border-radius: 0px 0px 17px 17px;
}
.secondary-header__top{
    position: relative;
    top: 0px;
    left: 2px;
    display: flex;
    background-color:  #f1f1f1;
    border-radius: 17px;
}
.header__top{
    display: flex;
    margin-left: 80px;    
    padding-left: 20px;
}
.header__top::before{
    content: '';
    position: absolute;
    width: 92%;
    height: 1px;
    top: 35px;
    left: 85px;
    border-bottom: 1px solid #beb9b9;
}
.header__top-item{
    display: flex;
    align-items: center;
    height: 40px;
    color:#96c93d;
    font-size: 20px;
    margin-right: 45px;
}
.header__top-item:last-child{
    margin-right: 0px;
    position: relative;
}
.header__top-item:last-child::before{
    content:'';
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../images/fire.svg);
    background-color:  #f1f1f1;
    top: 0px;
    left:-29px;
}
.header__top-item:hover{
    color: #534746;
    transition: 0.3s;
}
.header-client{
    width: 30px;
    height: 30px;
    fill: #534746;
}
.header-main-menu-client{
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}
.header-client:hover{
    fill:#96c93d;
    transition: .3s;
}
.header-main-menu-client-item{
    height: 40px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.header-main-menu-client-item:last-child{
    margin-right: 0px;
}
.header-client-goods{
    position: absolute;
    bottom: 3px;
    right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:#96c93d;
    text-align: center;
    color: #fff;
    font-size: 13px;
}